* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #BF91F9;
    --white: #ffffff;
    --gray: #7D7D7D;
    --dark-10: #0B0B0B;
    --dark-20: #0E0E0E;
    --dark-30: #151515;
}

a {
    width: auto;
    height: 22px;
    font-size: 18px;
    font-weight: 500;

    font-family: 'Inter', sans-serif;
    color: var(--white);
    text-decoration: none;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--dark-10);
}

.container{
    width: 70%;
    max-width: 1100px;
    margin: 20px auto;
}

section{
    margin-block: 200px;
}


/* Navbar da página */
header {
    width: auto;
    height: 91px;

    display: flex;
    border-bottom: 1px solid var(--white);
}

.topo {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Preahvihear', sans-serif;
    font-size: 24px;
    vertical-align: middle;

    color: var(--brand-color);
}


ul {
    display: flex;
    gap: 56px;
}

a:hover {
    transition: 0.6s;
    color: var(--brand-color);
    cursor: pointer;
}

hr {
    color: var(--dark-30);
}


/* Sessão Início */
.inicio {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}

.apresentacao {
    width: 50%;
    margin-top: 14px;
}

.ilustracao {
    width: 25rem;
    height: 25rem;

    background-image: url(../images/ola.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-chapeu {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

    color: var(--white);
}

.content {
    display: flex;
}

.titulo-chapeu {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.seta {
    position: relative;
    bottom: 50px;
    left: 18px;
}

.cafe {
    position: relative;
    bottom: 58px;
    left: 30px;

    font-family: 'Preahvihear', sans-serif;
    font-size: 20px;
    color: var(--brand-color);
}

.titulos {
    font-family: 'Preahvihear', sans-serif;
    font-size: 48px;
    vertical-align: middle;
    color: var(--brand-color);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

#carreira {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-block: 36px 40px;

    color: var(--white);
}

.btn_linked,
.btn_curriculo {
    width: auto;
    height: 39px;
    padding: 10px 40px;
    gap: 10px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--white);
}

/* Sessão Sobre mim */
.sobre_mim {
    width: auto;
    height: 576px;
    gap: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulos {
    width: auto;
    height: 58px;

    font-family: 'Preahvihear', sans-serif;
    font-size: 32px;
    color: var(--brand-color);
}

.cidade {
    width: auto;
    height: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.pessoal_info {
    width: auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 160%;
    color: var(--white);
}

.redes_icons {
    width: 100%;
    height: 24px;
    display: flex;
    cursor: pointer;
    gap: 40px;
}


/* Experiências */
.experiencias {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo_experiencia {
    color: var(--brand-color);
}

.my_experience {
    display: flex;
}

.locais {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.local {
    width: 100%;
    height: 55px;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    color: var(--white);
    padding: 12px;
}

.local:hover,
.local:active {
    border-left: 2px solid var(--brand-color);
}

.cabecalho {
    width: 100%;

    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.titulo_exp {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

.date_exp {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    line-height: 24px;
    letter-spacing: 0%;
}

.lc_exp {
    width: 100%;
    height: 55px;
    padding-top: 12px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--brand-color);
}

.apresentacao_exp {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;

    color: var(--white);
}

/* Projetos */

.projects {
    width: 100%;
}

.my_projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 520px;
    margin-block: 20px;
}

.img_project {
    height: 200px;

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--brand-color);
    border-left: 2px solid var(--brand-color);
    border-radius: 4px;
}

.name_project {
    margin-block: 40px 32px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.infors {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--white);
}

.link_project {
    margin-block: 24px 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--brand-color);
}

.botoes {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.btn_acesso_1 {
    width: auto;
    height: 39px;
    padding: 10px 40px;
    gap: 24px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--white);
}

.btn_acesso_2 {
    width: auto;
    height: 39px;
    padding: 10px 40px;
    gap: 24px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--white);
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;

    color: var(--white);
}

.simbolo {
    color: var(--brand-color);
}

@media (min-width: 768px) and (max-width: 1024px){
    
}