*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 700px;
}

h1, h2, h3, h4, h5, h6{
    color: #BF91F9;
}

p{
    color: #fff;
}

.page{
    text-decoration: none;
    font-size: 18x;
    font-weight: 800;
    padding: 20px;
    color: #fff;
}

.logo{
    color: #BF91F9;
    font-size: 24px;
    font-weight: 800;
    /* margin-left: 352px; */
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    flex-flow: row;
    height: 91px;
    display: flex;
    justify-content: space-between;
    padding: 0 352px;
    border: 1px solid #151515;
    background: radial-gradient(rgba(21, 21, 21, 1) 17%, rgba(11, 11, 11, 1) 77%);
    /* background-color: #151515; */
    /* background: rgba(255, 255, 255, 0); */
}

.navbar{
    margin-right: 32px;
    gap: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    position: relative;
}

.seta{
    display: flex;
    position: relative;
    bottom: 50px;
    left: 12px;
}

.titulo-chapeu{
    color: #fff;
}

.cafe{
    color: #BF91F9;
    display: flex;
    position: relative;
    bottom: 60px;
    left: 20px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Ital', initial;
}

.principal{
    width: 100%;
    height: 100%;
    background: #151515;
    background: radial-gradient(circle, rgba(21, 21, 21, 1) 17%, rgba(11, 11, 11, 1) 77%);
    display: flex;

    align-items: center;
    justify-content:space-around;
    transition: all ease .5s;
}

.botao{
    background-color: #BF91F9;
    width: 145px;
    height: 39px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ilustracao{
    /* border: 1px solid yellow; */
    width: 400px;
    height: 400px;

    position: relative;
    bottom: 80px;
    background-image: url(../images/ola.png);
    background-repeat: no-repeat;
}
    