*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 100%;
    height: 400px;
    background-image: url(images/michaeljordan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.banner .txt-banner{
    display: flex;
    flex-direction: column;
    color: #fff;

}

main{
    height: 100vh;
    background-color: aquamarine;
    margin: 50px;
}
main section .cabeca{
    width: 593px;
    height: 127px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section .cabeca h2{
    width: 363px;
    height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
