/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #121214;
}

/*Navbar Search*/
nav{
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #17171A;
}

nav h1{
    color: #E07B67;
}

nav h1 span{
    color: #fff;
}

nav form{
    margin: 30px;
}

nav form input{
    width: 750px;
    height: 35px;
    background-color: #202024;
    outline: none;
    color: #fff;
    border: 0px;
    border-radius: 6px;
}

/*Main Principal*/
section .box{
    margin: 40px;
    padding: 27px;
    margin-top: 65px;
    background-color: #202024;
    border-radius: 10px;
}

section .box:hover{
    border: 1px solid;
    border-color: #E07B67;
    border-radius: 10px;
    transition: 0.4s;
}

section .box .cabecalho h6{
    margin: 0px 0px 15px ;
    color: #E07B67;
}

section .box h3{
    color: #fff;
}

section .box p{
    color: #afabb6;
}

section .box .cabecalho{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

section .box .cabecalho .material-symbols-outlined{
    color: #E07B67;
}
